@charset "utf-8";

body {
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

.wrapper {
	overflow: auto;
	width: 1100px;
}
header {
    text-align: center;
    height: 150px;
    color: #fff;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0.55);
    background-position: 50% 30%;
    background-image: url("../img/signature.png");
    background-repeat: no-repeat, repeat;
    background-size: auto 75%, auto auto;
    background-color: #FEF7EE;
    margin-top: 10px;
	}

header h2 {
    margin-top: 1em;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    text-shadow: 0px 0px 12.48px rgba(0, 0, 0, 0.5);
    color: #000000;
    line-height: 0.8em;
    font-family: dorsa;
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
}

	
header p {
	margin: 0;
	line-height: 5em;
	font-family: LucidaGrande;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	text-shadow: 0px 3px 4px rgba(0, 0, 1, 0.38);
	letter-spacing: .5em;
}
nav {
    background-color: #FFFFFF;
    text-align: center;
    -webkit-box-shadow: inset 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
nav ul li {
	margin: 0;
	display: inline-block;
}
nav ul li a:link  , nav ul li a:visited{
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    display: block;
    text-decoration: none;
    border: 1px solid #9A4D24;
    color: #9A4D24;
    font-family: dorsa;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    text-shadow: 0.5px 0 0 rgba(0, 0, 0, 0.5);
    font-style: normal;
}
.logowhite {
	color: #FFF;
}
main {
	overflow: auto;
}
main aside {
    padding: 10px;
    width: 20%;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    min-height: 150px;
    font-size: 90%;
}
main aside h2 {
    font-size: 120%;
    text-align: center;
    color: #000000;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
}
main > section {
    width: 40%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-right: 5%;
    margin-left: 27%;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding-left: 5px;
}
main section h1 {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 70px;
    color: #000000;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    padding-bottom: 15px;
    font-family: dorsa;
    text-align: center;
}
main section article h2 {
    font-size: 50px;
    font-family: dorsa;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    text-align: left;
}
main section article h3 {
    color: #000000;
    font-family: montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 22px;
}

h6{
	margin-top: 1em;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    line-height: 0.8em;
    font-family: dorsa;
    font-weight: 400;
    font-style: normal;
	font-size: 45px;
    color: #9A4D24;
    }

main section article p {
    font-family: montserrat;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    padding-top: 0px;
}

.sidebar1 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(202,176,153,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(202,176,153,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(202,176,153,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(202,176,153,1.00) 100%);
    position: fixed;
}

.sidebar1 p {
	margin: 0 0 .5em 0;
	font-family: montserrat;
	color: #000000;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
}
.sidebar1-h1 {
    font-family: montserrat;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    position: static;
    float: none;
}
.sidebar2-h1 {
	font-family: montserrat;
	color: #000000;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
}
.sidebar2 {
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(url), -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(202,176,153,1.00) 100%);
    background-image: url(url), -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(202,176,153,1.00) 100%);
    background-image: url(url), -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(202,176,153,1.00) 100%);
    background-image: url(url), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(202,176,153,1.00) 100%);
    position: static;
}
.sidebar2 p {
	margin: 0 0 .5em 0;
	font-family: montserrat;
	color: #000000;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
}


footer {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    clear: both;
    margin: 10px 0;
    background-color: #FFFFFF;
    font-size: 90%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
footer p {
    margin: 0 0 5px 0;
    color: #000000;
    font-family: dorsa;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
}

.modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 200px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
}

.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 70%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0);
}

.close {
		color: floralwhite;
		float: right;
		font-size: 28px;
		font-weight: bold;
}

.close:hover,
.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    width: auto;
    background-color: #9A4D24;
    font-size: 30px;
    font-family: dorsa;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    text-align: left;
   display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);

}

.modal-h2 {
	font-size: 50px;
    font-family: dorsa;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    text-align: left;
	
}

.modal-body {
    padding: 2px 16 px;
	width: 70%;
    color: #000000;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
   position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-dialog {
  position: relative;
  width: 70%;
  margin: 0.5rem;
  pointer-events: none;
  
}


.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 70%;
  height: 600px;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-footer {
		padding: 2px 16px;
		width: 70%;
		background-color: #9A4D24; 
		color: floralwhite;

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}


.modal-footer > * {
  margin: 0.25rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-scrollable {
    height: calc(100% - 3.5rem);
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
.modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}
.modal-fullscreen .modal-footer {
  border-radius: 0;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
	
}
.footnotes {
}
